{% extends 'base.html' %}

{% block head %}
<title>Obfuscator App</title>

<div class="container login-cont">
    <div class="Content">
        <div id="login-page" class="row">
            <div class="login-card col s12 m8 push-m2 z-depth-2 grey lighten-5">
                <h4 class="center">Code Obfuscator App</h4>
                <div class="input-field col s12">
                    <input id="filename" name="filename" type="text" class="validate" disabled>
                    <label for="filename" class="center">Selected File: {{ filename }}</label>
                </div>
                <div class="center col s12">
                    <form method="POST" action="#">
                        <label for="decompile" class='btn center waves-effect waves-light black login-button s6'>Decompile</label>
                        <input type = "submit" id = "decompile" name='apkButton' value='decompile' hidden>

                        <label for="recompile" class='btn center waves-effect waves-light black login-button s6'>Recompile</label>
                        <input type = "submit" id = "recompile" name='apkButton' value='recompile' hidden>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}