{% extends 'base.html' %}

{% block head %}
<title>Obfuscator App</title>

<div class="container login-cont">
    <div class="Content">
        <div id="login-page" class="row">
            <div class="login-card col s12 m8 push-m2 z-depth-2 grey lighten-5">
                <h4 class="center">Code Obfuscator App</h4>
                <div class="center">
                    <button type="submit" name="Upload" value="submit"
                    class="btn center waves-effect waves-light black login-button">Upload File</button>
                </div>

                <div class="input-field col s12">
                    <input id="filename" name="filename" type="text" class="validate">
                    <label for="filename1">File Name</label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}